[access]
	inheritFrom = Public-Plugins
[project]
	description = This plugin allows to display a static info message on the change screen.\n\
\n\
It's main purpose is to serve as an example plugin and as a base for building plugins with a more sophisticated logic for displaying change info messages.
