[project]
	description = "This plugin allows to display a static info message on the change screen.  It's main purpose is to serve as an example plugin and as a base for building plugins with a more sophisticated logic for displaying change info messages.  - (mirror of https://gerrit.googlesource.com/plugins/changemessage)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushTag = group user/Luca Milanesio (lucamilanesio)
	pushSignedTag = group user/Luca Milanesio (lucamilanesio)
